<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../paper-input/paper-input.html">

<dom-module id="elform-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[configData.title]]</h2>

    <paper-input label="[[configData.label1]]" no-label-float value="{{inputValue1}}"></paper-input>
    <paper-input label="[[configData.label2]]" no-label-float value="{{inputValue2}}"></paper-input>
    <paper-input label="[[configData.label3]]" no-label-float value="{{inputValue3}}"></paper-input>
    <paper-button on-click="form-event" raised>[[configData.buttonName]]</paper-button>  

    <!--
    <template is="dom-repeat" elements="[[configData.inputArray]]">
      <paper-input label="[[item.label]]" no-label-float value="{{inputValue}}"></paper-input>
      <paper-button on-click="configData.event" raised>[[configData.buttonName]]</paper-button>  
    </template>-->
  </template> 

  <script>
    /**
     * `elform-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ElformElement extends Polymer.Element {
      static get is() { return 'elform-element'; }
      static get properties() {
        return {
          configData:{
            type:Object,
            value: ()=> {
              return{
                title:'Agrega Alumnos',
                buttonName:'Agregar',
                label1: 'Nombre',
                label2: 'Username',
                label3: 'Email'
              }
            }
          },

          inputValue1:{
            type:String
          },

          inputValue2:{
            type:String
          },

          inputValue3:{
            type:String
          },

          alumno:{
            name:'',
            username:'',
            email:''

          }
          // name:{
          //   type:String,
          //   value:''
          // },

          // username:{
          //   type:String,
          //   value:''
          // },

          // email:{
          //   type:String,
          //   value:''
          // }

        };
      }

      agregar(){
        this.dispatchEvent(
          new CustomEvent('eventoAgregar',{
            detail:this.alumno
          }));
      }
    }

    window.customElements.define(ElformElement.is, ElformElement);
  </script>
</dom-module>
